In [112]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
import matplotlib.pyplot as plt

In [89]:
train_df = pd.read_csv('train.csv')
train_df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [90]:
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [91]:
train_df = train_df.drop(columns='Cabin', axis=1, inplace = False)

In [96]:
train_df['Embarked'].fillna('S',inplace=True)

In [94]:
train_df['Age'].fillna(train_df['Age'].mean(), inplace= True)

In [97]:
train_df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [118]:
train_df.replace({'Sex':{'male':0,'female':1}, 'Embarked':{'S':0,'C':1,'Q':2}}, inplace=True)

In [110]:
train_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,1,2,3,female,male,C,Q,S
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,0,0,0,1,0,1,0,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,1,1,0,0,1,0,1,0,0
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,0,0,0,1,1,0,0,0,1

In [111]:
train_df.drop(columns= ['PassengerId','Name', 'Ticket', 'Survived','Pclass','Sex','Embarked'], axis = 1)

      Age  SibSp  Parch     Fare  1  2  3  female  male  C  Q  S
0    22.0      1      0   7.2500  0  0  1       0     1  0  0  1
1    38.0      1      0  71.2833  1  0  0       1     0  1  0  0
2    26.0      0      0   7.9250  0  0  1       1     0  0  0  1
3    35.0      1      0  53.1000  1  0  0       1     0  0  0  1
4    35.0      0      0   8.0500  0  0  1       0     1  0  0  1
..    ...    ...    ...      ... .. .. ..     ...   ... .. .. ..
886  27.0      0      0  13.0000  0  1  0       0     1  0  0  1
887  19.0      0      0  30.0000  1  0  0       1     0  0  0  1
888  28.0      1      2  23.4500  0  0  1       1     0  0  0  1
889  26.0      0      0  30.0000  1  0  0       0     1  1  0  0
890  32.0      0      0   7.7500  0  0  1       0     1  0  1  0

[891 rows x 12 columns]

In [102]:
X = train_df.drop(columns = ['PassengerId','Name','Ticket','Survived'],axis=1)
Y = train_df['Survived']

In [103]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
        X,Y, test_size=0.20, random_state=42)

In [106]:
model = LogisticRegression()

In [113]:
model.fit(X_train, Y_train)

ValueError: could not convert string to float: 'male'